# NOTE: This file is auto generated by OpenAPI Generator 6.6.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule ThePlaidAPI.Api.Plaid do
  @moduledoc """
  API calls for all endpoints tagged `Plaid`.
  """

  alias ThePlaidAPI.Connection
  import ThePlaidAPI.RequestBuilder

  @doc """
  Retrieve real-time balance data
  The `/accounts/balance/get` endpoint returns the real-time balance for each of an Item's accounts. While other endpoints may return a balance object, only `/accounts/balance/get` forces the available and current balance fields to be refreshed rather than cached. This endpoint can be used for existing Items that were added via any of Plaid’s other products. This endpoint can be used as long as Link has been initialized with any other product, `balance` itself is not a product that can be used to initialize Link. As this endpoint triggers a synchronous request for fresh data, latency may be higher than for other Plaid endpoints; if you encounter errors, you may find it necessary to adjust your timeout period when making requests.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `accounts_balance_get_request` (AccountsBalanceGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.AccountsGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec accounts_balance_get(Tesla.Env.client, ThePlaidAPI.Model.AccountsBalanceGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.AccountsGetResponse.t} | {:error, Tesla.Env.t}
  def accounts_balance_get(connection, accounts_balance_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/accounts/balance/get")
      |> add_param(:body, :body, accounts_balance_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.AccountsGetResponse{}}
    ])
  end

  @doc """
  Retrieve accounts
  The `/accounts/get` endpoint can be used to retrieve a list of accounts associated with any linked Item. Plaid will only return active bank accounts — that is, accounts that are not closed and are capable of carrying a balance. For items that went through the updated account selection pane, this endpoint only returns accounts that were permissioned by the user when they initially created the Item. If a user creates a new account after the initial link, you can capture this event through the [`NEW_ACCOUNTS_AVAILABLE`](https://plaid.com/docs/api/items/#new_accounts_available) webhook and then use Link's [update mode](https://plaid.com/docs/link/update-mode/) to request that the user share this new account with you.  This endpoint retrieves cached information, rather than extracting fresh information from the institution. As a result, balances returned may not be up-to-date; for realtime balance information, use `/accounts/balance/get` instead. Note that some information is nullable.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `accounts_get_request` (AccountsGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.AccountsGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec accounts_get(Tesla.Env.client, ThePlaidAPI.Model.AccountsGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.AccountsGetResponse.t} | {:ok, ThePlaidAPI.Model.PlaidError.t} | {:error, Tesla.Env.t}
  def accounts_get(connection, accounts_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/accounts/get")
      |> add_param(:body, :body, accounts_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.AccountsGetResponse{}},
      {:default, %ThePlaidAPI.Model.PlaidError{}}
    ])
  end

  @doc """
  Retrieve information about a Plaid application
  Allows financial institutions to retrieve information about Plaid clients for the purpose of building control-tower experiences

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `application_get_request` (ApplicationGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.ApplicationGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec application_get(Tesla.Env.client, ThePlaidAPI.Model.ApplicationGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.ApplicationGetResponse.t} | {:ok, ThePlaidAPI.Model.PlaidError.t} | {:error, Tesla.Env.t}
  def application_get(connection, application_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/application/get")
      |> add_param(:body, :body, application_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.ApplicationGetResponse{}},
      {:default, %ThePlaidAPI.Model.PlaidError{}}
    ])
  end

  @doc """
  Create Asset Report Audit Copy
  Plaid can provide an Audit Copy of any Asset Report directly to a participating third party on your behalf. For example, Plaid can supply an Audit Copy directly to Fannie Mae on your behalf if you participate in the Day 1 Certainty™ program. An Audit Copy contains the same underlying data as the Asset Report.  To grant access to an Audit Copy, use the `/asset_report/audit_copy/create` endpoint to create an `audit_copy_token` and then pass that token to the third party who needs access. Each third party has its own `auditor_id`, for example `fannie_mae`. You’ll need to create a separate Audit Copy for each third party to whom you want to grant access to the Report.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `asset_report_audit_copy_create_request` (AssetReportAuditCopyCreateRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.AssetReportAuditCopyCreateResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec asset_report_audit_copy_create(Tesla.Env.client, ThePlaidAPI.Model.AssetReportAuditCopyCreateRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.AssetReportAuditCopyCreateResponse.t} | {:error, Tesla.Env.t}
  def asset_report_audit_copy_create(connection, asset_report_audit_copy_create_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/asset_report/audit_copy/create")
      |> add_param(:body, :body, asset_report_audit_copy_create_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.AssetReportAuditCopyCreateResponse{}}
    ])
  end

  @doc """
  Retrieve an Asset Report Audit Copy
  `/asset_report/audit_copy/get` allows auditors to get a copy of an Asset Report that was previously shared via the `/asset_report/audit_copy/create` endpoint.  The caller of `/asset_report/audit_copy/create` must provide the `audit_copy_token` to the auditor.  This token can then be used to call `/asset_report/audit_copy/create`.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `asset_report_audit_copy_get_request` (AssetReportAuditCopyGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.AssetReportGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec asset_report_audit_copy_get(Tesla.Env.client, ThePlaidAPI.Model.AssetReportAuditCopyGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.AssetReportGetResponse.t} | {:error, Tesla.Env.t}
  def asset_report_audit_copy_get(connection, asset_report_audit_copy_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/asset_report/audit_copy/get")
      |> add_param(:body, :body, asset_report_audit_copy_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.AssetReportGetResponse{}}
    ])
  end

  @doc """
  Remove Asset Report Audit Copy
  The `/asset_report/audit_copy/remove` endpoint allows you to remove an Audit Copy. Removing an Audit Copy invalidates the `audit_copy_token` associated with it, meaning both you and any third parties holding the token will no longer be able to use it to access Report data. Items associated with the Asset Report, the Asset Report itself and other Audit Copies of it are not affected and will remain accessible after removing the given Audit Copy.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `asset_report_audit_copy_remove_request` (AssetReportAuditCopyRemoveRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.AssetReportAuditCopyRemoveResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec asset_report_audit_copy_remove(Tesla.Env.client, ThePlaidAPI.Model.AssetReportAuditCopyRemoveRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.AssetReportAuditCopyRemoveResponse.t} | {:error, Tesla.Env.t}
  def asset_report_audit_copy_remove(connection, asset_report_audit_copy_remove_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/asset_report/audit_copy/remove")
      |> add_param(:body, :body, asset_report_audit_copy_remove_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.AssetReportAuditCopyRemoveResponse{}}
    ])
  end

  @doc """
  Create an Asset Report
  The `/asset_report/create` endpoint initiates the process of creating an Asset Report, which can then be retrieved by passing the `asset_report_token` return value to the `/asset_report/get` or `/asset_report/pdf/get` endpoints.  The Asset Report takes some time to be created and is not available immediately after calling `/asset_report/create`. When the Asset Report is ready to be retrieved using `/asset_report/get` or `/asset_report/pdf/get`, Plaid will fire a `PRODUCT_READY` webhook. For full details of the webhook schema, see [Asset Report webhooks](https://plaid.com/docs/api/products/assets/#webhooks).  The `/asset_report/create` endpoint creates an Asset Report at a moment in time. Asset Reports are immutable. To get an updated Asset Report, use the `/asset_report/refresh` endpoint.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `asset_report_create_request` (AssetReportCreateRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.AssetReportCreateResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec asset_report_create(Tesla.Env.client, ThePlaidAPI.Model.AssetReportCreateRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.AssetReportCreateResponse.t} | {:error, Tesla.Env.t}
  def asset_report_create(connection, asset_report_create_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/asset_report/create")
      |> add_param(:body, :body, asset_report_create_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.AssetReportCreateResponse{}}
    ])
  end

  @doc """
  Filter Asset Report
  By default, an Asset Report will contain all of the accounts on a given Item. In some cases, you may not want the Asset Report to contain all accounts. For example, you might have the end user choose which accounts are relevant in Link using the Account Select view, which you can enable in the dashboard. Or, you might always exclude certain account types or subtypes, which you can identify by using the `/accounts/get` endpoint. To narrow an Asset Report to only a subset of accounts, use the `/asset_report/filter` endpoint.  To exclude certain Accounts from an Asset Report, first use the `/asset_report/create` endpoint to create the report, then send the `asset_report_token` along with a list of `account_ids` to exclude to the `/asset_report/filter` endpoint, to create a new Asset Report which contains only a subset of the original Asset Report's data.  Because Asset Reports are immutable, calling `/asset_report/filter` does not alter the original Asset Report in any way; rather, `/asset_report/filter` creates a new Asset Report with a new token and id. Asset Reports created via `/asset_report/filter` do not contain new Asset data, and are not billed.  Plaid will fire a [`PRODUCT_READY`](https://plaid.com/docs/api/products/assets/#product_ready) webhook once generation of the filtered Asset Report has completed.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `asset_report_filter_request` (AssetReportFilterRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.AssetReportFilterResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec asset_report_filter(Tesla.Env.client, ThePlaidAPI.Model.AssetReportFilterRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.AssetReportFilterResponse.t} | {:error, Tesla.Env.t}
  def asset_report_filter(connection, asset_report_filter_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/asset_report/filter")
      |> add_param(:body, :body, asset_report_filter_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.AssetReportFilterResponse{}}
    ])
  end

  @doc """
  Retrieve an Asset Report
  The `/asset_report/get` endpoint retrieves the Asset Report in JSON format. Before calling `/asset_report/get`, you must first create the Asset Report using `/asset_report/create` (or filter an Asset Report using `/asset_report/filter`) and then wait for the [`PRODUCT_READY`](https://plaid.com/docs/api/products/assets/#product_ready) webhook to fire, indicating that the Report is ready to be retrieved.  By default, an Asset Report includes transaction descriptions as returned by the bank, as opposed to parsed and categorized by Plaid. You can also receive cleaned and categorized transactions, as well as additional insights like merchant name or location information. We call this an Asset Report with Insights. An Asset Report with Insights provides transaction category, location, and merchant information in addition to the transaction strings provided in a standard Asset Report.  If report_type was set to `VERIFICATION_OF_EMPLOYMENT` when the Asset Report was created in asset_report/create, debit transactions and transaction amounts won’t be included in the report.  To retrieve an Asset Report with Insights, call the `/asset_report/get` endpoint with `include_insights` set to `true`.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `asset_report_get_request` (AssetReportGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.AssetReportGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec asset_report_get(Tesla.Env.client, ThePlaidAPI.Model.AssetReportGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.AssetReportGetResponse.t} | {:error, Tesla.Env.t}
  def asset_report_get(connection, asset_report_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/asset_report/get")
      |> add_param(:body, :body, asset_report_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.AssetReportGetResponse{}}
    ])
  end

  @doc """
  Retrieve a PDF Asset Report
  The `/asset_report/pdf/get` endpoint retrieves the Asset Report in PDF format. Before calling `/asset_report/pdf/get`, you must first create the Asset Report using `/asset_report/create` (or filter an Asset Report using `/asset_report/filter`) and then wait for the [`PRODUCT_READY`](https://plaid.com/docs/api/products/assets/#product_ready) webhook to fire, indicating that the Report is ready to be retrieved.  The response to `/asset_report/pdf/get` is the PDF binary data. The `request_id`  is returned in the `Plaid-Request-ID` header.  If report_type was set to `VERIFICATION_OF_EMPLOYMENT` when the Asset Report was created in asset_report/create, debit transactions and transaction amounts won’t be included in the report.  [View a sample PDF Asset Report](https://plaid.com/documents/sample-asset-report.pdf).

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `asset_report_pdf_get_request` (AssetReportPdfGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, String.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec asset_report_pdf_get(Tesla.Env.client, ThePlaidAPI.Model.AssetReportPdfGetRequest.t, keyword()) :: {:ok, String.t} | {:error, Tesla.Env.t}
  def asset_report_pdf_get(connection, asset_report_pdf_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/asset_report/pdf/get")
      |> add_param(:body, :body, asset_report_pdf_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false}
    ])
  end

  @doc """
  Refresh an Asset Report
  An Asset Report is an immutable snapshot of a user's assets. In order to \"refresh\" an Asset Report you created previously, you can use the `/asset_report/refresh` endpoint to create a new Asset Report based on the old one, but with the most recent data available.  The new Asset Report will contain the same Items as the original Report, as well as the same filters applied by any call to `/asset_report/filter`. By default, the new Asset Report will also use the same parameters you submitted with your original `/asset_report/create` request, but the original `days_requested` value and the values of any parameters in the `options` object can be overridden with new values. To change these arguments, simply supply new values for them in your request to `/asset_report/refresh`. Submit an empty string (\"\") for any previously-populated fields you would like set as empty.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `asset_report_refresh_request` (AssetReportRefreshRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.AssetReportRefreshResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec asset_report_refresh(Tesla.Env.client, ThePlaidAPI.Model.AssetReportRefreshRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.AssetReportRefreshResponse.t} | {:error, Tesla.Env.t}
  def asset_report_refresh(connection, asset_report_refresh_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/asset_report/refresh")
      |> add_param(:body, :body, asset_report_refresh_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.AssetReportRefreshResponse{}}
    ])
  end

  @doc """
  Delete an Asset Report
  The `/item/remove` endpoint allows you to invalidate an `access_token`, meaning you will not be able to create new Asset Reports with it. Removing an Item does not affect any Asset Reports or Audit Copies you have already created, which will remain accessible until you remove them specifically.  The `/asset_report/remove` endpoint allows you to remove an Asset Report. Removing an Asset Report invalidates its `asset_report_token`, meaning you will no longer be able to use it to access Report data or create new Audit Copies. Removing an Asset Report does not affect the underlying Items, but does invalidate any `audit_copy_tokens` associated with the Asset Report.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `asset_report_remove_request` (AssetReportRemoveRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.AssetReportRemoveResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec asset_report_remove(Tesla.Env.client, ThePlaidAPI.Model.AssetReportRemoveRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.AssetReportRemoveResponse.t} | {:error, Tesla.Env.t}
  def asset_report_remove(connection, asset_report_remove_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/asset_report/remove")
      |> add_param(:body, :body, asset_report_remove_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.AssetReportRemoveResponse{}}
    ])
  end

  @doc """
  Retrieve auth data
  The `/auth/get` endpoint returns the bank account and bank identification numbers (such as routing numbers, for US accounts) associated with an Item's checking and savings accounts, along with high-level account data and balances when available.  Note: This request may take some time to complete if `auth` was not specified as an initial product when creating the Item. This is because Plaid must communicate directly with the institution to retrieve the data.  Versioning note: In API version 2017-03-08, the schema of the `numbers` object returned by this endpoint is substantially different. For details, see [Plaid API versioning](https://plaid.com/docs/api/versioning/#version-2018-05-22).

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `auth_get_request` (AuthGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.AuthGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec auth_get(Tesla.Env.client, ThePlaidAPI.Model.AuthGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.AuthGetResponse.t} | {:ok, ThePlaidAPI.Model.PlaidError.t} | {:error, Tesla.Env.t}
  def auth_get(connection, auth_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/auth/get")
      |> add_param(:body, :body, auth_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.AuthGetResponse{}},
      {:default, %ThePlaidAPI.Model.PlaidError{}}
    ])
  end

  @doc """
  Get balance of your Bank Transfer account
  Use the `/bank_transfer/balance/get` endpoint to see the available balance in your bank transfer account. Debit transfers increase this balance once their status is posted. Credit transfers decrease this balance when they are created.  The transactable balance shows the amount in your account that you are able to use for transfers, and is essentially your available balance minus your minimum balance.  Note that this endpoint can only be used with FBO accounts, when using Bank Transfers in the Full Service configuration. It cannot be used on your own account when using Bank Transfers in the BTS Platform configuration.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `bank_transfer_balance_get_request` (BankTransferBalanceGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.BankTransferBalanceGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bank_transfer_balance_get(Tesla.Env.client, ThePlaidAPI.Model.BankTransferBalanceGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.BankTransferBalanceGetResponse.t} | {:ok, ThePlaidAPI.Model.PlaidError.t} | {:error, Tesla.Env.t}
  def bank_transfer_balance_get(connection, bank_transfer_balance_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/bank_transfer/balance/get")
      |> add_param(:body, :body, bank_transfer_balance_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.BankTransferBalanceGetResponse{}},
      {:default, %ThePlaidAPI.Model.PlaidError{}}
    ])
  end

  @doc """
  Cancel a bank transfer
  Use the `/bank_transfer/cancel` endpoint to cancel a bank transfer.  A transfer is eligible for cancelation if the `cancellable` property returned by `/bank_transfer/get` is `true`.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `bank_transfer_cancel_request` (BankTransferCancelRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.BankTransferCancelResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bank_transfer_cancel(Tesla.Env.client, ThePlaidAPI.Model.BankTransferCancelRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.BankTransferCancelResponse.t} | {:ok, ThePlaidAPI.Model.PlaidError.t} | {:error, Tesla.Env.t}
  def bank_transfer_cancel(connection, bank_transfer_cancel_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/bank_transfer/cancel")
      |> add_param(:body, :body, bank_transfer_cancel_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.BankTransferCancelResponse{}},
      {:default, %ThePlaidAPI.Model.PlaidError{}}
    ])
  end

  @doc """
  Create a bank transfer
  Use the `/bank_transfer/create` endpoint to initiate a new bank transfer.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `bank_transfer_create_request` (BankTransferCreateRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.BankTransferCreateResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bank_transfer_create(Tesla.Env.client, ThePlaidAPI.Model.BankTransferCreateRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.BankTransferCreateResponse.t} | {:ok, ThePlaidAPI.Model.PlaidError.t} | {:error, Tesla.Env.t}
  def bank_transfer_create(connection, bank_transfer_create_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/bank_transfer/create")
      |> add_param(:body, :body, bank_transfer_create_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.BankTransferCreateResponse{}},
      {:default, %ThePlaidAPI.Model.PlaidError{}}
    ])
  end

  @doc """
  List bank transfer events
  Use the `/bank_transfer/event/list` endpoint to get a list of Plaid-initiated ACH or bank transfer events based on specified filter criteria. When using Auth with micro-deposit verification enabled, this endpoint can be used to fetch status updates on ACH micro-deposits. For more details, see [micro-deposit events](https://plaid.com/docs/auth/coverage/microdeposit-events/).

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `bank_transfer_event_list_request` (BankTransferEventListRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.BankTransferEventListResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bank_transfer_event_list(Tesla.Env.client, ThePlaidAPI.Model.BankTransferEventListRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.BankTransferEventListResponse.t} | {:ok, ThePlaidAPI.Model.PlaidError.t} | {:error, Tesla.Env.t}
  def bank_transfer_event_list(connection, bank_transfer_event_list_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/bank_transfer/event/list")
      |> add_param(:body, :body, bank_transfer_event_list_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.BankTransferEventListResponse{}},
      {:default, %ThePlaidAPI.Model.PlaidError{}}
    ])
  end

  @doc """
  Sync bank transfer events
  `/bank_transfer/event/sync` allows you to request up to the next 25 Plaid-initiated bank transfer events that happened after a specific `event_id`. When using Auth with micro-deposit verification enabled, this endpoint can be used to fetch status updates on ACH micro-deposits. For more details, see [micro-deposit events](https://www.plaid.com/docs/auth/coverage/microdeposit-events/).

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `bank_transfer_event_sync_request` (BankTransferEventSyncRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.BankTransferEventSyncResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bank_transfer_event_sync(Tesla.Env.client, ThePlaidAPI.Model.BankTransferEventSyncRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.BankTransferEventSyncResponse.t} | {:ok, ThePlaidAPI.Model.PlaidError.t} | {:error, Tesla.Env.t}
  def bank_transfer_event_sync(connection, bank_transfer_event_sync_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/bank_transfer/event/sync")
      |> add_param(:body, :body, bank_transfer_event_sync_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.BankTransferEventSyncResponse{}},
      {:default, %ThePlaidAPI.Model.PlaidError{}}
    ])
  end

  @doc """
  Retrieve a bank transfer
  The `/bank_transfer/get` fetches information about the bank transfer corresponding to the given `bank_transfer_id`.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `bank_transfer_get_request` (BankTransferGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.BankTransferGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bank_transfer_get(Tesla.Env.client, ThePlaidAPI.Model.BankTransferGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.BankTransferGetResponse.t} | {:ok, ThePlaidAPI.Model.PlaidError.t} | {:error, Tesla.Env.t}
  def bank_transfer_get(connection, bank_transfer_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/bank_transfer/get")
      |> add_param(:body, :body, bank_transfer_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.BankTransferGetResponse{}},
      {:default, %ThePlaidAPI.Model.PlaidError{}}
    ])
  end

  @doc """
  List bank transfers
  Use the `/bank_transfer/list` endpoint to see a list of all your bank transfers and their statuses. Results are paginated; use the `count` and `offset` query parameters to retrieve the desired bank transfers. 

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `bank_transfer_list_request` (BankTransferListRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.BankTransferListResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bank_transfer_list(Tesla.Env.client, ThePlaidAPI.Model.BankTransferListRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.BankTransferListResponse.t} | {:ok, ThePlaidAPI.Model.PlaidError.t} | {:error, Tesla.Env.t}
  def bank_transfer_list(connection, bank_transfer_list_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/bank_transfer/list")
      |> add_param(:body, :body, bank_transfer_list_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.BankTransferListResponse{}},
      {:default, %ThePlaidAPI.Model.PlaidError{}}
    ])
  end

  @doc """
  Migrate account into Bank Transfers
  As an alternative to adding Items via Link, you can also use the `/bank_transfer/migrate_account` endpoint to migrate known account and routing numbers to Plaid Items.  Note that Items created in this way are not compatible with endpoints for other products, such as `/accounts/balance/get`, and can only be used with Bank Transfer endpoints.  If you require access to other endpoints, create the Item through Link instead.  Access to `/bank_transfer/migrate_account` is not enabled by default; to obtain access, contact your Plaid Account Manager.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `bank_transfer_migrate_account_request` (BankTransferMigrateAccountRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.BankTransferMigrateAccountResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bank_transfer_migrate_account(Tesla.Env.client, ThePlaidAPI.Model.BankTransferMigrateAccountRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.BankTransferMigrateAccountResponse.t} | {:ok, ThePlaidAPI.Model.PlaidError.t} | {:error, Tesla.Env.t}
  def bank_transfer_migrate_account(connection, bank_transfer_migrate_account_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/bank_transfer/migrate_account")
      |> add_param(:body, :body, bank_transfer_migrate_account_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.BankTransferMigrateAccountResponse{}},
      {:default, %ThePlaidAPI.Model.PlaidError{}}
    ])
  end

  @doc """
  Retrieve a sweep
  The `/bank_transfer/sweep/get` endpoint fetches information about the sweep corresponding to the given `sweep_id`.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `bank_transfer_sweep_get_request` (BankTransferSweepGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.BankTransferSweepGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bank_transfer_sweep_get(Tesla.Env.client, ThePlaidAPI.Model.BankTransferSweepGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.BankTransferSweepGetResponse.t} | {:ok, ThePlaidAPI.Model.PlaidError.t} | {:error, Tesla.Env.t}
  def bank_transfer_sweep_get(connection, bank_transfer_sweep_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/bank_transfer/sweep/get")
      |> add_param(:body, :body, bank_transfer_sweep_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.BankTransferSweepGetResponse{}},
      {:default, %ThePlaidAPI.Model.PlaidError{}}
    ])
  end

  @doc """
  List sweeps
  The `/bank_transfer/sweep/list` endpoint fetches information about the sweeps matching the given filters.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `bank_transfer_sweep_list_request` (BankTransferSweepListRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.BankTransferSweepListResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bank_transfer_sweep_list(Tesla.Env.client, ThePlaidAPI.Model.BankTransferSweepListRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.BankTransferSweepListResponse.t} | {:ok, ThePlaidAPI.Model.PlaidError.t} | {:error, Tesla.Env.t}
  def bank_transfer_sweep_list(connection, bank_transfer_sweep_list_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/bank_transfer/sweep/list")
      |> add_param(:body, :body, bank_transfer_sweep_list_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.BankTransferSweepListResponse{}},
      {:default, %ThePlaidAPI.Model.PlaidError{}}
    ])
  end

  @doc """
  Get Categories
  Send a request to the `/categories/get` endpoint to get detailed information on categories returned by Plaid. This endpoint does not require authentication.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `body` (map()): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.CategoriesGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec categories_get(Tesla.Env.client, %{optional(String.t) => }, keyword()) :: {:ok, ThePlaidAPI.Model.CategoriesGetResponse.t} | {:ok, ThePlaidAPI.Model.PlaidError.t} | {:error, Tesla.Env.t}
  def categories_get(connection, body, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/categories/get")
      |> add_param(:body, :body, body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.CategoriesGetResponse{}},
      {:default, %ThePlaidAPI.Model.PlaidError{}}
    ])
  end

  @doc """
  Create payment token
  The `/payment_initiation/payment/token/create` endpoint has been deprecated. New Plaid customers will be unable to use this endpoint, and existing customers are encouraged to migrate to the newer, `link_token`-based flow. The recommended flow is to provide the `payment_id` to `/link/token/create`, which returns a `link_token` used to initialize Link.  The `/payment_initiation/payment/token/create` is used to create a `payment_token`, which can then be used in Link initialization to enter a payment initiation flow. You can only use a `payment_token` once. If this attempt fails, the end user aborts the flow, or the token expires, you will need to create a new payment token. Creating a new payment token does not require end user input.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `payment_initiation_payment_token_create_request` (PaymentInitiationPaymentTokenCreateRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.PaymentInitiationPaymentTokenCreateResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_payment_token(Tesla.Env.client, ThePlaidAPI.Model.PaymentInitiationPaymentTokenCreateRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.PaymentInitiationPaymentTokenCreateResponse.t} | {:error, Tesla.Env.t}
  def create_payment_token(connection, payment_initiation_payment_token_create_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/payment_initiation/payment/token/create")
      |> add_param(:body, :body, payment_initiation_payment_token_create_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.PaymentInitiationPaymentTokenCreateResponse{}}
    ])
  end

  @doc """
  Retrieve an Asset Report with Freddie Mac format. Only Freddie Mac can use this endpoint.
  The `credit/asset_report/freddie_mac/get` endpoint retrieves the Asset Report in Freddie Mac's JSON format.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `request_body` (%{optional(String.t) => any()}): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.AssetReportFreddieGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec credit_asset_report_freddie_mac_get(Tesla.Env.client, %{optional(String.t) => AnyType.t}, keyword()) :: {:ok, ThePlaidAPI.Model.AssetReportFreddieGetResponse.t} | {:error, Tesla.Env.t}
  def credit_asset_report_freddie_mac_get(connection, request_body, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/credit/asset_report/freddie_mac/get")
      |> add_param(:body, :body, request_body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.AssetReportFreddieGetResponse{}}
    ])
  end

  @doc """
  Create Asset or Income Report Audit Copy Token
  Plaid can create an Audit Copy token of an Asset Report and/or Income Report to share with participating Government Sponsored Entity (GSE). If you participate in the Day 1 Certainty™ program, Plaid can supply an Audit Copy token directly to Fannie Mae on your behalf. An Audit Copy token contains the same underlying data as the Asset Report and/or Income Report (result of /credit/payroll_income/get).  Use the `/credit/audit_copy_token/create` endpoint to create an `audit_copy_token` and then pass that token to the GSE who needs access.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `credit_audit_copy_token_create_request` (CreditAuditCopyTokenCreateRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.CreditAuditCopyTokenCreateResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec credit_audit_copy_token_create(Tesla.Env.client, ThePlaidAPI.Model.CreditAuditCopyTokenCreateRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.CreditAuditCopyTokenCreateResponse.t} | {:error, Tesla.Env.t}
  def credit_audit_copy_token_create(connection, credit_audit_copy_token_create_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/credit/audit_copy_token/create")
      |> add_param(:body, :body, credit_audit_copy_token_create_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.CreditAuditCopyTokenCreateResponse{}}
    ])
  end

  @doc """
  Update an Audit Copy Token
  The `/credit/audit_copy_token/update` endpoint updates an existing  Audit Copy Token by adding the report tokens in the `report_tokens` field to the `audit_copy_token`. If the Audit Copy Token already contains a report of a certain type, it will be replaced with the token provided in the `report_tokens` field.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `credit_audit_copy_token_update_request` (CreditAuditCopyTokenUpdateRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.CreditAuditCopyTokenUpdateResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec credit_audit_copy_token_update(Tesla.Env.client, ThePlaidAPI.Model.CreditAuditCopyTokenUpdateRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.CreditAuditCopyTokenUpdateResponse.t} | {:error, Tesla.Env.t}
  def credit_audit_copy_token_update(connection, credit_audit_copy_token_update_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/credit/audit_copy_token/update")
      |> add_param(:body, :body, credit_audit_copy_token_update_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.CreditAuditCopyTokenUpdateResponse{}}
    ])
  end

  @doc """
  Retrieve information from the bank accounts used for employment verification
  `/credit/bank_employment/get` returns the employment report(s) derived from bank transaction data for a specified user.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `credit_bank_employment_get_request` (CreditBankEmploymentGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.CreditBankEmploymentGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec credit_bank_employment_get(Tesla.Env.client, ThePlaidAPI.Model.CreditBankEmploymentGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.CreditBankEmploymentGetResponse.t} | {:error, Tesla.Env.t}
  def credit_bank_employment_get(connection, credit_bank_employment_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/beta/credit/v1/bank_employment/get")
      |> add_param(:body, :body, credit_bank_employment_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.CreditBankEmploymentGetResponse{}}
    ])
  end

  @doc """
  Retrieve information from the bank accounts used for income verification
  `/credit/bank_income/get` returns the bank income report(s) for a specified user.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `credit_bank_income_get_request` (CreditBankIncomeGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.CreditBankIncomeGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec credit_bank_income_get(Tesla.Env.client, ThePlaidAPI.Model.CreditBankIncomeGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.CreditBankIncomeGetResponse.t} | {:error, Tesla.Env.t}
  def credit_bank_income_get(connection, credit_bank_income_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/credit/bank_income/get")
      |> add_param(:body, :body, credit_bank_income_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.CreditBankIncomeGetResponse{}}
    ])
  end

  @doc """
  Retrieve information from the bank accounts used for income verification in PDF format
  `/credit/bank_income/pdf/get` returns the most recent bank income report for a specified user in PDF format.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `credit_bank_income_pdf_get_request` (CreditBankIncomePdfGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, String.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec credit_bank_income_pdf_get(Tesla.Env.client, ThePlaidAPI.Model.CreditBankIncomePdfGetRequest.t, keyword()) :: {:ok, String.t} | {:error, Tesla.Env.t}
  def credit_bank_income_pdf_get(connection, credit_bank_income_pdf_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/credit/bank_income/pdf/get")
      |> add_param(:body, :body, credit_bank_income_pdf_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false}
    ])
  end

  @doc """
  Refresh a user's bank income information
  `/credit/bank_income/refresh` refreshes the bank income report data for a specific user.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `request_body` (%{optional(String.t) => any()}): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.CreditBankIncomeRefreshResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec credit_bank_income_refresh(Tesla.Env.client, %{optional(String.t) => AnyType.t}, keyword()) :: {:ok, ThePlaidAPI.Model.CreditBankIncomeRefreshResponse.t} | {:error, Tesla.Env.t}
  def credit_bank_income_refresh(connection, request_body, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/credit/bank_income/refresh")
      |> add_param(:body, :body, request_body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.CreditBankIncomeRefreshResponse{}}
    ])
  end

  @doc """
  Retrieve a summary of an individual's employment information
  `/credit/employment/get` returns a list of items with employment information from a user's payroll provider that was verified by an end user.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `credit_employment_get_request` (CreditEmploymentGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.CreditEmploymentGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec credit_employment_get(Tesla.Env.client, ThePlaidAPI.Model.CreditEmploymentGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.CreditEmploymentGetResponse.t} | {:error, Tesla.Env.t}
  def credit_employment_get(connection, credit_employment_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/credit/employment/get")
      |> add_param(:body, :body, credit_employment_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.CreditEmploymentGetResponse{}}
    ])
  end

  @doc """
  Retrieve an Asset Report with Freddie Mac format (aka VOA - Verification Of Assets), and a Verification Of Employment (VOE) report if this one is available. Only Freddie Mac can use this endpoint.
  The `credit/asset_report/freddie_mac/get` endpoint retrieves the Verification of Assets and Verification of Employment reports.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `request_body` (%{optional(String.t) => any()}): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.CreditFreddieMacReportsGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec credit_freddie_mac_reports_get(Tesla.Env.client, %{optional(String.t) => AnyType.t}, keyword()) :: {:ok, ThePlaidAPI.Model.CreditFreddieMacReportsGetResponse.t} | {:error, Tesla.Env.t}
  def credit_freddie_mac_reports_get(connection, request_body, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/credit/freddie_mac/reports/get")
      |> add_param(:body, :body, request_body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.CreditFreddieMacReportsGetResponse{}}
    ])
  end

  @doc """
  Retrieve a user's payroll information
  This endpoint gets payroll income information for a specific user, either as a result of the user connecting to their payroll provider or uploading a pay related document.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `credit_payroll_income_get_request` (CreditPayrollIncomeGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.CreditPayrollIncomeGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec credit_payroll_income_get(Tesla.Env.client, ThePlaidAPI.Model.CreditPayrollIncomeGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.CreditPayrollIncomeGetResponse.t} | {:error, Tesla.Env.t}
  def credit_payroll_income_get(connection, credit_payroll_income_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/credit/payroll_income/get")
      |> add_param(:body, :body, credit_payroll_income_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.CreditPayrollIncomeGetResponse{}}
    ])
  end

  @doc """
  Check income verification eligibility and optimize conversion
  `/credit/payroll_income/precheck` is an optional endpoint that can be called before initializing a Link session for income verification. It evaluates whether a given user is supportable by digital income verification. If the user is eligible for digital verification, that information will be associated with the user token, and in this way will generate a Link UI optimized for the end user and their specific employer. If the user cannot be confirmed as eligible, the user can still use the income verification flow, but they may be required to manually upload a paystub to verify their income.  While all request fields are optional, providing `employer` data will increase the chance of receiving a useful result.  When testing in Sandbox, you can control the results by providing special test values in the `employer` and `access_tokens` fields. `employer_good` and `employer_bad` will result in `HIGH` and `LOW` confidence values, respectively. `employer_multi` will result in a `HIGH` confidence with multiple payroll options. Likewise, `access_good` and `access_bad` will result in `HIGH` and `LOW` confidence values, respectively. Any other value for `employer` and `access_tokens` in Sandbox will result in `UNKNOWN` confidence.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `credit_payroll_income_precheck_request` (CreditPayrollIncomePrecheckRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.CreditPayrollIncomePrecheckResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec credit_payroll_income_precheck(Tesla.Env.client, ThePlaidAPI.Model.CreditPayrollIncomePrecheckRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.CreditPayrollIncomePrecheckResponse.t} | {:error, Tesla.Env.t}
  def credit_payroll_income_precheck(connection, credit_payroll_income_precheck_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/credit/payroll_income/precheck")
      |> add_param(:body, :body, credit_payroll_income_precheck_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.CreditPayrollIncomePrecheckResponse{}}
    ])
  end

  @doc """
  Refresh a digital payroll income verification
  `/credit/payroll_income/refresh` refreshes a given digital payroll income verification.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `credit_payroll_income_refresh_request` (CreditPayrollIncomeRefreshRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.CreditPayrollIncomeRefreshResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec credit_payroll_income_refresh(Tesla.Env.client, ThePlaidAPI.Model.CreditPayrollIncomeRefreshRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.CreditPayrollIncomeRefreshResponse.t} | {:ok, ThePlaidAPI.Model.PlaidError.t} | {:error, Tesla.Env.t}
  def credit_payroll_income_refresh(connection, credit_payroll_income_refresh_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/credit/payroll_income/refresh")
      |> add_param(:body, :body, credit_payroll_income_refresh_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.CreditPayrollIncomeRefreshResponse{}},
      {:default, %ThePlaidAPI.Model.PlaidError{}}
    ])
  end

  @doc """
  Create a relay token to share an Asset Report with a partner client (beta)
  Plaid can share an Asset Report directly with a participating third party on your behalf. The shared Asset Report is the exact same Asset Report originally created in `/asset_report/create`.  To grant a third party access to an Asset Report, use the `/credit/relay/create` endpoint to create a `relay_token` and then pass that token to your third party. Each third party has its own `secondary_client_id`; for example, `ce5bd328dcd34123456`. You'll need to create a separate `relay_token` for each third party that needs access to the report on your behalf.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `credit_relay_create_request` (CreditRelayCreateRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.CreditRelayCreateResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec credit_relay_create(Tesla.Env.client, ThePlaidAPI.Model.CreditRelayCreateRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.CreditRelayCreateResponse.t} | {:error, Tesla.Env.t}
  def credit_relay_create(connection, credit_relay_create_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/credit/relay/create")
      |> add_param(:body, :body, credit_relay_create_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.CreditRelayCreateResponse{}}
    ])
  end

  @doc """
  Retrieve the reports associated with a relay token that was shared with you (beta)
  `/credit/relay/get` allows third parties to receive a report that was shared with them, using a `relay_token` that was created by the report owner.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `credit_relay_get_request` (CreditRelayGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.AssetReportGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec credit_relay_get(Tesla.Env.client, ThePlaidAPI.Model.CreditRelayGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.AssetReportGetResponse.t} | {:error, Tesla.Env.t}
  def credit_relay_get(connection, credit_relay_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/credit/relay/get")
      |> add_param(:body, :body, credit_relay_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.AssetReportGetResponse{}}
    ])
  end

  @doc """
  Refresh a report of a relay token (beta)
  The `/credit/relay/refresh` endpoint allows third parties to refresh a report that was relayed to them, using a `relay_token` that was created by the report owner. A new report will be created with the original report parameters, but with the most recent data available based on the `days_requested` value of the original report.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `credit_relay_refresh_request` (CreditRelayRefreshRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.CreditRelayRefreshResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec credit_relay_refresh(Tesla.Env.client, ThePlaidAPI.Model.CreditRelayRefreshRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.CreditRelayRefreshResponse.t} | {:error, Tesla.Env.t}
  def credit_relay_refresh(connection, credit_relay_refresh_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/credit/relay/refresh")
      |> add_param(:body, :body, credit_relay_refresh_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.CreditRelayRefreshResponse{}}
    ])
  end

  @doc """
  Remove relay token (beta)
  The `/credit/relay/remove` endpoint allows you to invalidate a `relay_token`. The third party holding the token will no longer be able to access or refresh the reports which the `relay_token` gives access to. The original report, associated Items, and other relay tokens that provide access to the same report are not affected and will remain accessible after removing the given `relay_token`.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `credit_relay_remove_request` (CreditRelayRemoveRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.CreditRelayRemoveResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec credit_relay_remove(Tesla.Env.client, ThePlaidAPI.Model.CreditRelayRemoveRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.CreditRelayRemoveResponse.t} | {:error, Tesla.Env.t}
  def credit_relay_remove(connection, credit_relay_remove_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/credit/relay/remove")
      |> add_param(:body, :body, credit_relay_remove_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.CreditRelayRemoveResponse{}}
    ])
  end

  @doc """
  Remove an Audit Copy token
  The `/credit/audit_copy_token/remove` endpoint allows you to remove an Audit Copy. Removing an Audit Copy invalidates the `audit_copy_token` associated with it, meaning both you and any third parties holding the token will no longer be able to use it to access Report data. Items associated with the Report data and other Audit Copies of it are not affected and will remain accessible after removing the given Audit Copy.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `credit_audit_copy_token_remove_request` (CreditAuditCopyTokenRemoveRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.CreditAuditCopyTokenRemoveResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec credit_report_audit_copy_remove(Tesla.Env.client, ThePlaidAPI.Model.CreditAuditCopyTokenRemoveRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.CreditAuditCopyTokenRemoveResponse.t} | {:error, Tesla.Env.t}
  def credit_report_audit_copy_remove(connection, credit_audit_copy_token_remove_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/credit/audit_copy_token/remove")
      |> add_param(:body, :body, credit_audit_copy_token_remove_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.CreditAuditCopyTokenRemoveResponse{}}
    ])
  end

  @doc """
  Retrieve Link sessions for your user
  This endpoint can be used for your end users after they complete the Link flow. This endpoint returns a list of Link sessions that your user completed, where each session includes the results from the Link flow.  These results include details about the Item that was created and some product related metadata (showing, for example, whether the user finished the bank income verification step).

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `credit_sessions_get_request` (CreditSessionsGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.CreditSessionsGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec credit_sessions_get(Tesla.Env.client, ThePlaidAPI.Model.CreditSessionsGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.CreditSessionsGetResponse.t} | {:error, Tesla.Env.t}
  def credit_sessions_get(connection, credit_sessions_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/credit/sessions/get")
      |> add_param(:body, :body, credit_sessions_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.CreditSessionsGetResponse{}}
    ])
  end

  @doc """
  Retrieve a dashboard user
  Retrieve information about a dashboard user.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `dashboard_user_get_request` (DashboardUserGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.DashboardUserGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec dashboard_user_get(Tesla.Env.client, ThePlaidAPI.Model.DashboardUserGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.DashboardUserGetResponse.t} | {:error, Tesla.Env.t}
  def dashboard_user_get(connection, dashboard_user_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/dashboard_user/get")
      |> add_param(:body, :body, dashboard_user_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.DashboardUserGetResponse{}}
    ])
  end

  @doc """
  List dashboard users
  List all dashboard users associated with your account.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `dashboard_user_list_request` (DashboardUserListRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.DashboardUserListResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec dashboard_user_list(Tesla.Env.client, ThePlaidAPI.Model.DashboardUserListRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.DashboardUserListResponse.t} | {:error, Tesla.Env.t}
  def dashboard_user_list(connection, dashboard_user_list_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/dashboard_user/list")
      |> add_param(:body, :body, dashboard_user_list_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.DashboardUserListResponse{}}
    ])
  end

  @doc """
  Create a deposit switch without using Plaid Exchange
  This endpoint provides an alternative to `/deposit_switch/create` for customers who have not yet fully integrated with Plaid Exchange. Like `/deposit_switch/create`, it creates a deposit switch entity that will be persisted throughout the lifecycle of the switch.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `deposit_switch_alt_create_request` (DepositSwitchAltCreateRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.DepositSwitchAltCreateResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec deposit_switch_alt_create(Tesla.Env.client, ThePlaidAPI.Model.DepositSwitchAltCreateRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.DepositSwitchAltCreateResponse.t} | {:error, Tesla.Env.t}
  def deposit_switch_alt_create(connection, deposit_switch_alt_create_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/deposit_switch/alt/create")
      |> add_param(:body, :body, deposit_switch_alt_create_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.DepositSwitchAltCreateResponse{}}
    ])
  end

  @doc """
  Create a deposit switch
  This endpoint creates a deposit switch entity that will be persisted throughout the lifecycle of the switch.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `deposit_switch_create_request` (DepositSwitchCreateRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.DepositSwitchCreateResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec deposit_switch_create(Tesla.Env.client, ThePlaidAPI.Model.DepositSwitchCreateRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.DepositSwitchCreateResponse.t} | {:error, Tesla.Env.t}
  def deposit_switch_create(connection, deposit_switch_create_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/deposit_switch/create")
      |> add_param(:body, :body, deposit_switch_create_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.DepositSwitchCreateResponse{}}
    ])
  end

  @doc """
  Retrieve a deposit switch
  This endpoint returns information related to how the user has configured their payroll allocation and the state of the switch. You can use this information to build logic related to the user's direct deposit allocation preferences.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `deposit_switch_get_request` (DepositSwitchGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.DepositSwitchGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec deposit_switch_get(Tesla.Env.client, ThePlaidAPI.Model.DepositSwitchGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.DepositSwitchGetResponse.t} | {:error, Tesla.Env.t}
  def deposit_switch_get(connection, deposit_switch_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/deposit_switch/get")
      |> add_param(:body, :body, deposit_switch_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.DepositSwitchGetResponse{}}
    ])
  end

  @doc """
  Create a deposit switch token
  In order for the end user to take action, you will need to create a public token representing the deposit switch. This token is used to initialize Link. It can be used one time and expires after 30 minutes. 

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `deposit_switch_token_create_request` (DepositSwitchTokenCreateRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.DepositSwitchTokenCreateResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec deposit_switch_token_create(Tesla.Env.client, ThePlaidAPI.Model.DepositSwitchTokenCreateRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.DepositSwitchTokenCreateResponse.t} | {:error, Tesla.Env.t}
  def deposit_switch_token_create(connection, deposit_switch_token_create_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/deposit_switch/token/create")
      |> add_param(:body, :body, deposit_switch_token_create_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.DepositSwitchTokenCreateResponse{}}
    ])
  end

  @doc """
  Search employer database
  `/employers/search` allows you the ability to search Plaid’s database of known employers, for use with Deposit Switch. You can use this endpoint to look up a user's employer in order to confirm that they are supported. Users with non-supported employers can then be routed out of the Deposit Switch flow.  The data in the employer database is currently limited. As the Deposit Switch and Income products progress through their respective beta periods, more employers are being regularly added. Because the employer database is frequently updated, we recommend that you do not cache or store data from this endpoint for more than a day.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `employers_search_request` (EmployersSearchRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.EmployersSearchResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec employers_search(Tesla.Env.client, ThePlaidAPI.Model.EmployersSearchRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.EmployersSearchResponse.t} | {:error, Tesla.Env.t}
  def employers_search(connection, employers_search_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/employers/search")
      |> add_param(:body, :body, employers_search_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.EmployersSearchResponse{}}
    ])
  end

  @doc """
  (Deprecated) Retrieve a summary of an individual's employment information
  `/employment/verification/get` returns a list of employments through a user payroll that was verified by an end user.  This endpoint has been deprecated; new integrations should use `/credit/employment/get` instead.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `employment_verification_get_request` (EmploymentVerificationGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.EmploymentVerificationGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec employment_verification_get(Tesla.Env.client, ThePlaidAPI.Model.EmploymentVerificationGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.EmploymentVerificationGetResponse.t} | {:error, Tesla.Env.t}
  def employment_verification_get(connection, employment_verification_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/employment/verification/get")
      |> add_param(:body, :body, employment_verification_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.EmploymentVerificationGetResponse{}}
    ])
  end

  @doc """
  Webhook receiver for fdx notifications
  A generic webhook receiver endpoint for FDX Event Notifications

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `fdx_notification` (FdxNotification): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec fdx_notifications(Tesla.Env.client, ThePlaidAPI.Model.FdxNotification.t, keyword()) :: {:ok, nil} | {:ok, ThePlaidAPI.Model.PlaidError.t} | {:error, Tesla.Env.t}
  def fdx_notifications(connection, fdx_notification, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/fdx/notifications")
      |> add_param(:body, :body, fdx_notification)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {:default, %ThePlaidAPI.Model.PlaidError{}}
    ])
  end

  @doc """
  Retrieve identity data
  The `/identity/get` endpoint allows you to retrieve various account holder information on file with the financial institution, including names, emails, phone numbers, and addresses. Only name data is guaranteed to be returned; other fields will be empty arrays if not provided by the institution.  This request may take some time to complete if identity was not specified as an initial product when creating the Item. This is because Plaid must communicate directly with the institution to retrieve the data.  Note: In API versions 2018-05-22 and earlier, the `owners` object is not returned, and instead identity information is returned in the top level `identity` object. For more details, see [Plaid API versioning](https://plaid.com/docs/api/versioning/#version-2019-05-29).

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `identity_get_request` (IdentityGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.IdentityGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec identity_get(Tesla.Env.client, ThePlaidAPI.Model.IdentityGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.IdentityGetResponse.t} | {:error, Tesla.Env.t}
  def identity_get(connection, identity_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/identity/get")
      |> add_param(:body, :body, identity_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.IdentityGetResponse{}}
    ])
  end

  @doc """
  Retrieve identity match score
  The `/identity/match` endpoint generates a match score, which indicates how well the provided identity data matches the identity information on file with the account holder's financial institution.  This request may take some time to complete if Identity was not specified as an initial product when creating the Item. This is because Plaid must communicate directly with the institution to retrieve the data.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `identity_match_request` (IdentityMatchRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.IdentityMatchResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec identity_match(Tesla.Env.client, ThePlaidAPI.Model.IdentityMatchRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.IdentityMatchResponse.t} | {:error, Tesla.Env.t}
  def identity_match(connection, identity_match_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/identity/match")
      |> add_param(:body, :body, identity_match_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.IdentityMatchResponse{}}
    ])
  end

  @doc """
  Create a new identity verification
  Create a new Identity Verification for the user specified by the `client_user_id` field. The requirements and behavior of the verification are determined by the `template_id` provided. If you don't know whether the associated user already has an active Identity Verification, you can specify `\"is_idempotent\": true` in the request body. With idempotency enabled, a new Identity Verification will only be created if one does not already exist for the associated `client_user_id` and `template_id`. If an Identity Verification is found, it will be returned unmodified with an `200 OK` HTTP status code. 

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `identity_verification_create_request` (IdentityVerificationCreateRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.IdentityVerificationCreateResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec identity_verification_create(Tesla.Env.client, ThePlaidAPI.Model.IdentityVerificationCreateRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.IdentityVerificationCreateResponse.t} | {:error, Tesla.Env.t}
  def identity_verification_create(connection, identity_verification_create_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/identity_verification/create")
      |> add_param(:body, :body, identity_verification_create_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.IdentityVerificationCreateResponse{}}
    ])
  end

  @doc """
  Retrieve Identity Verification
  Retrieve a previously created identity verification.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `identity_verification_get_request` (IdentityVerificationGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.IdentityVerificationGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec identity_verification_get(Tesla.Env.client, ThePlaidAPI.Model.IdentityVerificationGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.IdentityVerificationGetResponse.t} | {:error, Tesla.Env.t}
  def identity_verification_get(connection, identity_verification_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/identity_verification/get")
      |> add_param(:body, :body, identity_verification_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.IdentityVerificationGetResponse{}}
    ])
  end

  @doc """
  List Identity Verifications
  Filter and list Identity Verifications created by your account

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `identity_verification_list_request` (IdentityVerificationListRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.IdentityVerificationListResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec identity_verification_list(Tesla.Env.client, ThePlaidAPI.Model.IdentityVerificationListRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.IdentityVerificationListResponse.t} | {:error, Tesla.Env.t}
  def identity_verification_list(connection, identity_verification_list_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/identity_verification/list")
      |> add_param(:body, :body, identity_verification_list_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.IdentityVerificationListResponse{}}
    ])
  end

  @doc """
  Retry an Identity Verification
  Allow a customer to retry their identity verification

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `identity_verification_retry_request` (IdentityVerificationRetryRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.IdentityVerificationRetryResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec identity_verification_retry(Tesla.Env.client, ThePlaidAPI.Model.IdentityVerificationRetryRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.IdentityVerificationRetryResponse.t} | {:error, Tesla.Env.t}
  def identity_verification_retry(connection, identity_verification_retry_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/identity_verification/retry")
      |> add_param(:body, :body, identity_verification_retry_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.IdentityVerificationRetryResponse{}}
    ])
  end

  @doc """
  (Deprecated) Create an income verification instance
  `/income/verification/create` begins the income verification process by returning an `income_verification_id`. You can then provide the `income_verification_id` to `/link/token/create` under the `income_verification` parameter in order to create a Link instance that will prompt the user to go through the income verification flow. Plaid will fire an `INCOME` webhook once the user completes the Payroll Income flow, or when the uploaded documents in the Document Income flow have finished processing. 

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `income_verification_create_request` (IncomeVerificationCreateRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.IncomeVerificationCreateResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec income_verification_create(Tesla.Env.client, ThePlaidAPI.Model.IncomeVerificationCreateRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.IncomeVerificationCreateResponse.t} | {:error, Tesla.Env.t}
  def income_verification_create(connection, income_verification_create_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/income/verification/create")
      |> add_param(:body, :body, income_verification_create_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.IncomeVerificationCreateResponse{}}
    ])
  end

  @doc """
  (Deprecated) Download the original documents used for income verification
  `/income/verification/documents/download` provides the ability to download the source documents associated with the verification.  If Document Income was used, the documents will be those the user provided in Link. For Payroll Income, the most recent files available for download from the payroll provider will be available from this endpoint.  The response to `/income/verification/documents/download` is a ZIP file in binary data. If a `document_id` is passed, a single document will be contained in this file. If not, the response will contain all documents associated with the verification.  The `request_id` is returned in the `Plaid-Request-ID` header.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `income_verification_documents_download_request` (IncomeVerificationDocumentsDownloadRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, String.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec income_verification_documents_download(Tesla.Env.client, ThePlaidAPI.Model.IncomeVerificationDocumentsDownloadRequest.t, keyword()) :: {:ok, String.t} | {:error, Tesla.Env.t}
  def income_verification_documents_download(connection, income_verification_documents_download_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/income/verification/documents/download")
      |> add_param(:body, :body, income_verification_documents_download_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false}
    ])
  end

  @doc """
  (Deprecated) Retrieve information from the paystubs used for income verification
  `/income/verification/paystubs/get` returns the information collected from the paystubs that were used to verify an end user's income. It can be called once the status of the verification has been set to `VERIFICATION_STATUS_PROCESSING_COMPLETE`, as reported by the `INCOME: verification_status` webhook. Attempting to call the endpoint before verification has been completed will result in an error.  This endpoint has been deprecated; new integrations should use `/credit/payroll_income/get` instead.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `income_verification_paystubs_get_request` (IncomeVerificationPaystubsGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.IncomeVerificationPaystubsGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec income_verification_paystubs_get(Tesla.Env.client, ThePlaidAPI.Model.IncomeVerificationPaystubsGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.IncomeVerificationPaystubsGetResponse.t} | {:error, Tesla.Env.t}
  def income_verification_paystubs_get(connection, income_verification_paystubs_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/income/verification/paystubs/get")
      |> add_param(:body, :body, income_verification_paystubs_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.IncomeVerificationPaystubsGetResponse{}}
    ])
  end

  @doc """
  (Deprecated) Check digital income verification eligibility and optimize conversion
  `/income/verification/precheck` is an optional endpoint that can be called before initializing a Link session for income verification. It evaluates whether a given user is supportable by digital income verification and returns a `precheck_id` that can be provided to `/link/token/create`. If the user is eligible for digital verification, providing the `precheck_id` in this way will generate a Link UI optimized for the end user and their specific employer. If the user cannot be confirmed as eligible, the `precheck_id` can still be provided to `/link/token/create` and the user can still use the income verification flow, but they may be required to manually upload a paystub to verify their income.  While all request fields are optional, providing either `employer` or `transactions_access_tokens` data will increase the chance of receiving a useful result.  This endpoint has been deprecated; new integrations should use `/credit/payroll_income/precheck` instead.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `income_verification_precheck_request` (IncomeVerificationPrecheckRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.IncomeVerificationPrecheckResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec income_verification_precheck(Tesla.Env.client, ThePlaidAPI.Model.IncomeVerificationPrecheckRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.IncomeVerificationPrecheckResponse.t} | {:error, Tesla.Env.t}
  def income_verification_precheck(connection, income_verification_precheck_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/income/verification/precheck")
      |> add_param(:body, :body, income_verification_precheck_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.IncomeVerificationPrecheckResponse{}}
    ])
  end

  @doc """
  (Deprecated) Retrieve information from the tax documents used for income verification
  `/income/verification/taxforms/get` returns the information collected from forms that were used to verify an end user''s income. It can be called once the status of the verification has been set to `VERIFICATION_STATUS_PROCESSING_COMPLETE`, as reported by the `INCOME: verification_status` webhook. Attempting to call the endpoint before verification has been completed will result in an error.  This endpoint has been deprecated; new integrations should use `/credit/payroll_income/get` instead.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `request_body` (%{optional(String.t) => any()}): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.IncomeVerificationTaxformsGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec income_verification_taxforms_get(Tesla.Env.client, %{optional(String.t) => AnyType.t}, keyword()) :: {:ok, ThePlaidAPI.Model.IncomeVerificationTaxformsGetResponse.t} | {:ok, ThePlaidAPI.Model.PlaidError.t} | {:error, Tesla.Env.t}
  def income_verification_taxforms_get(connection, request_body, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/income/verification/taxforms/get")
      |> add_param(:body, :body, request_body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.IncomeVerificationTaxformsGetResponse{}},
      {:default, %ThePlaidAPI.Model.PlaidError{}}
    ])
  end

  @doc """
  Get details of all supported institutions
  Returns a JSON response containing details on all financial institutions currently supported by Plaid. Because Plaid supports thousands of institutions, results are paginated.  If there is no overlap between an institution’s enabled products and a client’s enabled products, then the institution will be filtered out from the response. As a result, the number of institutions returned may not match the count specified in the call.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `institutions_get_request` (InstitutionsGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.InstitutionsGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec institutions_get(Tesla.Env.client, ThePlaidAPI.Model.InstitutionsGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.InstitutionsGetResponse.t} | {:ok, ThePlaidAPI.Model.PlaidError.t} | {:error, Tesla.Env.t}
  def institutions_get(connection, institutions_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/institutions/get")
      |> add_param(:body, :body, institutions_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.InstitutionsGetResponse{}},
      {:default, %ThePlaidAPI.Model.PlaidError{}}
    ])
  end

  @doc """
  Get details of an institution
  Returns a JSON response containing details on a specified financial institution currently supported by Plaid.  Versioning note: API versions 2019-05-29 and earlier allow use of the `public_key` parameter instead of the `client_id` and `secret` to authenticate to this endpoint. The `public_key` has been deprecated; all customers are encouraged to use `client_id` and `secret` instead. 

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `institutions_get_by_id_request` (InstitutionsGetByIdRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.InstitutionsGetByIdResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec institutions_get_by_id(Tesla.Env.client, ThePlaidAPI.Model.InstitutionsGetByIdRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.InstitutionsGetByIdResponse.t} | {:ok, ThePlaidAPI.Model.PlaidError.t} | {:error, Tesla.Env.t}
  def institutions_get_by_id(connection, institutions_get_by_id_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/institutions/get_by_id")
      |> add_param(:body, :body, institutions_get_by_id_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.InstitutionsGetByIdResponse{}},
      {:default, %ThePlaidAPI.Model.PlaidError{}}
    ])
  end

  @doc """
  Search institutions
  Returns a JSON response containing details for institutions that match the query parameters, up to a maximum of ten institutions per query.  Versioning note: API versions 2019-05-29 and earlier allow use of the `public_key` parameter instead of the `client_id` and `secret` parameters to authenticate to this endpoint. The `public_key` parameter has since been deprecated; all customers are encouraged to use `client_id` and `secret` instead. 

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `institutions_search_request` (InstitutionsSearchRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.InstitutionsSearchResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec institutions_search(Tesla.Env.client, ThePlaidAPI.Model.InstitutionsSearchRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.InstitutionsSearchResponse.t} | {:ok, ThePlaidAPI.Model.PlaidError.t} | {:error, Tesla.Env.t}
  def institutions_search(connection, institutions_search_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/institutions/search")
      |> add_param(:body, :body, institutions_search_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.InstitutionsSearchResponse{}},
      {:default, %ThePlaidAPI.Model.PlaidError{}}
    ])
  end

  @doc """
  Get Investment holdings
  The `/investments/holdings/get` endpoint allows developers to receive user-authorized stock position data for `investment`-type accounts.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `investments_holdings_get_request` (InvestmentsHoldingsGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.InvestmentsHoldingsGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec investments_holdings_get(Tesla.Env.client, ThePlaidAPI.Model.InvestmentsHoldingsGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.InvestmentsHoldingsGetResponse.t} | {:error, Tesla.Env.t}
  def investments_holdings_get(connection, investments_holdings_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/investments/holdings/get")
      |> add_param(:body, :body, investments_holdings_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.InvestmentsHoldingsGetResponse{}}
    ])
  end

  @doc """
  Get investment transactions
  The `/investments/transactions/get` endpoint allows developers to retrieve up to 24 months of user-authorized transaction data for investment accounts.  Transactions are returned in reverse-chronological order, and the sequence of transaction ordering is stable and will not shift.  Due to the potentially large number of investment transactions associated with an Item, results are paginated. Manipulate the count and offset parameters in conjunction with the `total_investment_transactions` response body field to fetch all available investment transactions.  Note that Investments does not have a webhook to indicate when initial transaction data has loaded. Instead, if transactions data is not ready when `/investments/transactions/get` is first called, Plaid will wait for the data. For this reason, calling `/investments/transactions/get` immediately after Link may take up to one to two minutes to return.

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `investments_transactions_get_request` (InvestmentsTransactionsGetRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.InvestmentsTransactionsGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec investments_transactions_get(Tesla.Env.client, ThePlaidAPI.Model.InvestmentsTransactionsGetRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.InvestmentsTransactionsGetResponse.t} | {:error, Tesla.Env.t}
  def investments_transactions_get(connection, investments_transactions_get_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/investments/transactions/get")
      |> add_param(:body, :body, investments_transactions_get_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.InvestmentsTransactionsGetResponse{}}
    ])
  end

  @doc """
  Invalidate access_token
  By default, the `access_token` associated with an Item does not expire and should be stored in a persistent, secure manner.  You can use the `/item/access_token/invalidate` endpoint to rotate the `access_token` associated with an Item. The endpoint returns a new `access_token` and immediately invalidates the previous `access_token`. 

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `item_access_token_invalidate_request` (ItemAccessTokenInvalidateRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.ItemAccessTokenInvalidateResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec item_access_token_invalidate(Tesla.Env.client, ThePlaidAPI.Model.ItemAccessTokenInvalidateRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.ItemAccessTokenInvalidateResponse.t} | {:error, Tesla.Env.t}
  def item_access_token_invalidate(connection, item_access_token_invalidate_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/item/access_token/invalidate")
      |> add_param(:body, :body, item_access_token_invalidate_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.ItemAccessTokenInvalidateResponse{}}
    ])
  end

  @doc """
  List a historical log of user consent events
  List a historical log of user consent events

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `item_activity_list_request` (ItemActivityListRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ThePlaidAPI.Model.ItemActivityListResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec item_activity_list(Tesla.Env.client, ThePlaidAPI.Model.ItemActivityListRequest.t, keyword()) :: {:ok, ThePlaidAPI.Model.ItemActivityListResponse.t} | {:ok, ThePlaidAPI.Model.PlaidError.t} | {:error, Tesla.Env.t}
  def item_activity_list(connection, item_activity_list_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/item/activity/list")
      |> add_param(:body, :body, item_activity_list_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ThePlaidAPI.Model.ItemActivityListResponse{}},
      {:default, %ThePlaidAPI.Model.PlaidError{}}
    ])
  end

  @doc """
  List a user’s connected applications
  List a user’s connected applications

  ### Parameters

  - `connection` (ThePlaidAPI.Connection): Connection to server
  - `item_application_list_request` (ItemApplicationListRequest): 
  - `opts` (keyword): Optional parameters

[...]
